.containers {
    font-family: "배달의민족 주아";
    font-size: 1rem;
    margin: 2rem auto;
    width: 35rem;
    height: 40rem;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 3rem;
    border-radius: 1rem;
}
.main-title {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin: 10px auto 30px;
}

.add-station {
    display: flex;
    flex-direction: row;
}

#station-name{
    margin-right: 1rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    width: 22rem;
    height: 2.5rem;
    box-shadow: 2px 1px 1px 1px gray;
}

.station-add-button {
    align-self: end;
    background-color: #FFD228;
    width: 5rem;
    height: 2.5rem;
    text-align: center;
    border-radius: 0.5rem;
}

.station-list {
    margin-top: 2rem;
}

.station-item {
    border: 1px solid black;
    width: 27rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 0 1rem 0 2rem;
}

.station-name{
    /*align-self: start;*/
}

.station-delete-button {
    width: 3rem;
    height: 1rem;
    font-size: small;
    color: gray;
}
