.containers {
    font-family: "배달의민족 주아";
    font-size: 1rem;
    margin: 2rem auto;
    width: 35rem;
    height: 40rem;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 3rem;
    border-radius: 1rem;
}

.main-title {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin: 5px auto 0;
    align-self: center;
}

.line-add-button {
    align-self: center;
    background-color: #FFD228;
    width: 5.5rem;
    height: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    margin-left: 3rem;
}

.start-last-time-list {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bolder;
}

.start-last-time-item {
    background-color: #bfbfbf;
    border-width: 0 1px 1px 1px;
    border-color: #f0f0f0;
    border-style: solid;
    height: 2.5rem;
    width: 13.5rem;
    text-align: center;
    padding: 0.5rem 0 0;
}

.item-value {
    width: 13.5rem;
    height: 2.5rem;
    border-width: 1px 1px 1px 0;
    border-color: #bfbfbf;
    border-style: solid;
    background-color: #f0f0f0;
    text-align: center;
    padding: 0.25rem 0 0;
    font-size: 1.2rem;
}

ul {
    list-style-type: none;
}

.line-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid gray;
    width: 27rem;
    height: 2rem;
    justify-content: space-between;
    font-weight: bold;
    padding: 0 1rem 0 2rem;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.line-delete-button {
    width: 3rem;
    height: 1rem;
    font-size: small;
    color: gray;
}

.line-color {
    border-radius: 0.7rem;
    width: 0.7rem;
    height: 0.7rem;
}

.line-name {
    display: flex;
    justify-content: start;
    font-weight: bold;
}