.containers {
    font-family: "배달의민족 주아";
    font-size: 1rem;
    margin: 2rem auto;
    width: 35rem;
    /*height: 40rem;*/
    /*border: 2px solid gray;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 3rem;
    border-radius: 1rem;
}

a {
    color: black;
}

.main-title {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin: 5px auto 0;
    align-self: center;
}

.edge-add-button {
    align-self: center;
    background-color: #FFD228;
    width: 5.5rem;
    height: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    margin-left: 3rem;
}

.insert-line {
    margin-top: 2rem;
}

ul {
    list-style-type: none;
}

.edge-item {
    padding: 0 1rem;
    color: black;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    width: 25.45rem;
    border: 1px solid gray;
}

.edge-delete-button {
    color: gray;
    font-weight: lighter;
    font-size: 0.65rem;
}

.line {
    padding: 0.2rem 0 0 0;
    text-align: center;
    font-weight: bold;
    height: 2rem;
    width: 25.5rem;
}

.page-move-button {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
}

#prev-line {
    border-radius: 0.5rem;
    background-color: #FFD228;
    width: 2.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}

#next-line {
    border-radius: 0.5rem;
    background-color: #FFD228;
    width: 2.5rem;
    height: 1.5rem;
    margin-left: 1rem;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
