<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/css/index.css">
    <title>Home</title>
</head>
<body>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="/admin-station">역관리</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin-line">노선관리</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="/admin-edge">구간관리</a>
        </li>
    </ul>
    <script type="module" src="/js/index.js"></script>
</body>
</html>